doctype html
html
  head
    meta(charset='UTF-8')
    title Bitty AI
    link(rel='stylesheet', href='css/bootstrap.css')
    script.
      require('./renderer.js')
    //link(rel='stylesheet', href='css/base.css')
  body
    block content
      .container-fluid
        .top
        
          h1.jumbotron.text-center Bitty AI

          form.form-inline.clearfix
            .form-group
              label.sr-only(for="inputAmount") Amount (in dollars)
              .input-group
                .input-group-addon $
                input.form-control(type="text" id="inputAmount" placeholder="Amount")
                .input-group-addon .00
            button.btn.btn-primary(type="submit") Transfer
        
        .content
          #app
            p {{ helloFromVue }}
              
        .footer

  script.
    require('vue')
    require('../app.js')
    require('./js/bootstrap.min.js')